@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
@inject ThemeService ThemeService

<div class="page">
    <RadzenLayout>
        <RadzenHeader>
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Style="margin: 10px;">
                <RadzenImage Path="images/logo.png" AlternateText="Beam calculation" />
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                    <RadzenLink Text="English" Path=@SwitchToLanguage(Constants.SupportedLanguages[0]) />
                    <RadzenLink Text="Čeština" Path=@SwitchToLanguage(Constants.SupportedLanguages[1]) />
                </RadzenStack>
            </RadzenStack>
        </RadzenHeader>
        <RadzenBody class="rz-p-1" Style="margin: 10px">
             @Body
        </RadzenBody>
    </RadzenLayout>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<RadzenComponents @rendermode="InteractiveWebAssembly" />

@code
{
    private string SwitchToLanguage(string languageCode)
    {
        string? currentLanguageCode = null;

        foreach (string code in Constants.SupportedLanguages)
        {
            if (NavigationManager.Uri.Contains($"/{code}"))
            {
                currentLanguageCode = code;
                break;
            }
        }

        if (currentLanguageCode is null)
            return NavigationManager.Uri;

        return NavigationManager.Uri.Replace(@$"/{currentLanguageCode}", @$"/{languageCode}");
    }
}
